{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}">
{% endblock head %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='datatables.js')}}"></script>
{% endblock scripts %}
{% block content %}
<div class="sub-nav">
  <ul>
    <li><a href="{{url_for('api_manager.load')}}">API Manager</a></li>
    <li><a href="#">Transactions</a></li>
    <li><a href="#">Wallet Balances</a></li>
    <li><a href="#">Emails</a></li>
    <li><a href="#">Donations</a></li>
    <li><a href="#">Killboards</a></li>
    <li><a href="#">War Decks</a></li>
    <li><a href="#">Movements</a></li>
    <li><a href="#">Transfers</a></li>
    <li><a href="#">Joins / Leaves</a></li>
    <li><a href="#">API Status</a></li>
  </ul>
</div>
    <div class="container">
        <h2>TIT Security Panel: Dashboard</h2>
        <br/><br/>
        <!-- ROW 1 -->
        <div class="row">

             <div class="col-md-4" style="width:500px;">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Account Balances - Recent Activity</h3>
                    </div>
                    <div class="panel-body">
                         <table class="table table-hover" width="500px">
                            <thead>
                            <tr>
                                <th>Pilot</th>
                                <th>Corp</th>
                                <th>Balance</th>
                            </tr>
                          </thead>
                            <tbody>
                                {% for pilot in pilot_balances %}

                                    <tr>
                                        {% for char_name in pilot_list %}
                                            {% if pilot["characterID"] == char_name["character_id"] %}
                                                <td>
                                                    {{char_name["character_name"]}}
                                                </td>
                                                <td>

                                                </td>
                                                <td>
                                                    {{pilot["balance"]}}
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>

            <div class="col-md-4" style="width:500px;">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Wardecs - Active</h3>
                    </div>
                    <div class="panel-body">
                        Content
                    </div>
                </div>
            </div>
        </div>

        <!-- ROW 2 -->
        <div class="row">
            <div class="col-md-4" style="width:500px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Donations - Recent Activity</h3>
                    </div>
                    <div class="panel-body">
                         <table class="table table-hover" width="500px">
                            <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Donation</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for pilot in pilot_wallet_transactions %}
                                <tr>
                                    <td>
                                        {{pilot["owner_name_1"]}}
                                    </td>
                                    <td>
                                        {{pilot["owner_name_2"]}}
                                    </td>
                                    <td>
                                        {{pilot["amount"]}}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="width:500px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Transactions - Recent Activity</h3>
                    </div>
                    <div class="panel-body">
                        Content
                    </div>
                </div>
            </div>

        </div>

        <!-- ROW 3 -->
        <div class="row">
            <div class="col-md-4" style="width:500px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">PLEX - Recent Activity</h3>
                    </div>
                    <div class="panel-body">
                         <table class="table table-hover" width="500px">
                            <thead>
                            <tr>
                                <th>Pilot</th>
                                <th>Corp</th>
                                <th>PLEX</th>
                                <th>Price</th>
                            </tr>
                          </thead>
                            <tbody>
                            </tbody>
                         </table>

                    </div>
                </div>
            </div>

            <div class="col-md-4" style="width:500px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Large Market Transactions</h3>
                    </div>
                    <div class="panel-body">
                        Content
                    </div>
                </div>
            </div>

        </div>

         <!-- ROW 4 -->
        <div class="row">
            <div class="col-md-4" style="width:500px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mail - Recent Activity</h3>
                    </div>
                    <div class="panel-body">


                    </div>
                </div>
            </div>

            <div class="col-md-4" style="width:500px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pilot Movement</h3>
                    </div>
                    <div class="panel-body">
                        Content
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock content %}