{% extends "base.html" %}
{% block head %}
{{super()}}

{% endblock head %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='datatables.js')}}"></script>
{% endblock scripts %}
{% block content %}
<div>Test</div><div>Test</div><div>Test</div><div>Test</div><div>Test</div>

<a href="{{url_for('api_manager.load')}}">API MANAGER</a>
    <div class="container">
        <h2>TIT Security Panel: Dashboard</h2>
        <div class="row">
             <div class="col-md-4">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Account Balances - Recent Activity</h3>
                        <table class="table table-hover" width="500px">
                            <thead>
                            <tr>
                                <th>Pilot</th>
                                <th>Corp</th>
                                <th>Balance</th>
                            </tr>
                          </thead>
                            <tbody>
                                {% for pilot in pilot_balances %}
                                <tr>
                                    {% for char_name in pilot_list %}
                                    <td>
                                        Pilot_Balance Array: {{pilot["characterID"]}}
                                        Pilot_List Array: {{char_name["character_name"]}}
                                        {% if pilot["characterID"] == char_name["character_id"] %}
                                            There is a match
                                            {{pilot["characterID"]}}
                                            {{char_name["character_name"]}}
                                        {% endif %}
                                    </td>
                                    {% endfor %}
                                    <td>
                                        {{pilot["balance"]}}
                                    </td>
                                </tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Transactions - Recent Activity</h3>
                        <table class="table table-hover table-condensed">

                        </table>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Donations - Recent Activity</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Donations - Recent Activity</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>{{next_update}} UTC</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Movement - Pilot Departure</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Movement - Pilot Joined</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pilot Mails</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>{{next_update}} UTC</b></p>
                    </div>
                </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Kill Mails</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>{{next_update}} UTC</b></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}