defusedxml==0.4.1
dominate==2.1.16
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
flask-nav==0.5
Flask-OAuthlib==0.9.2
Flask-PyMongo==0.4.0
uwsgi==2.0.11.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
oauthlib==1.0.3
pymongo==3.2
requests==2.9.0
requests-oauthlib==0.6.0
visitor==0.1.2
Werkzeug==0.11.2
wheel==0.26.0
