.center{
	position: absolute;
	display: image;
	height: 284px;
	width: 800px;
	left: 25%;
	top: 25%;
	background-image: url('index.png');
}
.auto-style1 {
	font-family: Arial, Helvetica, sans-serif;
}
.auto-style2 {
	color: #FFFFFF;
}
a {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:active {
	color: #FFFFFF;
}
a:hover {
	color: #CCCCCC;
}
.auto-style3 {
	font-family: Corbel;
}
.auto-style6 {
	text-decoration: none;
}