{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_jf.ico') }}">
{% endblock head %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if vacation %}
            <div class="alert alert-danger" role="alert">You currently have "Away from EVE" mode enabled.</div>
            {% endif %}
            {% if keys %}
            <div class="alert alert-danger" role="alert">
                Key(s) with ID {{keys}} has an error. It has been marked as invalid and can no longer be used on the site. Please input a new key.
            </div>
            {% endif %}
            {% if message %}
            <div class="alert alert-success" role="alert">
                {{message}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="{{image_list[0]}}" alt="Character">
                    <img src="{{image_list[1]}}" alt="Corporation">
                    <img src="{{image_list[2]}}" alt="Alliance">
                </li>
                <li class="list-group-item"><b>Site ID:</b> {{user_info[0]}}</li>
                <li class="list-group-item"><b>Character:</b> {{user_info[1]}}</li>
                <li class="list-group-item"><b>Corporation:</b> {{user_info[2]}}</li>
                <li class="list-group-item"><b>Alliance:</b> {{user_info[3]}}</li>
                <li class="list-group-item"><b>Email:</b> {{user_info[4]}}</li>
                <li class="list-group-item"><b>Mumble ID:</b> {{user_info[5]}}</li>
                <li class="list-group-item"><b>IM Username:</b> {{user_info[6]}}</li>
                <li class="list-group-item">
                    <b>Recruitment IDs:</b>
                    {% for id in recruitment_ids %}
                    <a href="{{url_for('recruitment.form', key=id)}}">{{id}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Approved Roles</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        {% if given_roles %}
                        {% for role in given_roles %}
                        <li>{{role}}</li>
                        {% endfor %}
                        {% else %}
                        <li>None</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div>
                <form method="get">
                    <label>Away From EVE</label>
                    {% if vacation %}
                    <div class="form-group">
                        <textarea class="form-control" rows="5" name="text" disabled>{{vacation_text}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="date">Estimated Return Date</label>
                        <input id="date" name="date" type="date" value="{{vacation_date}}" disabled/>
                    </div>
                    <div class="form-group">
                        <button name="action" type="submit" class="btn btn-danger" value="disable">Disable</button>
                    </div>
                    {% else %}
                    <div class="form-group">
                        <textarea class="form-control" rows="5" name="text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="date2">Estimated Return Date: (MM/DD/YYYY)</label>
                        <input id="date2" name="date" type="date" />
                    </div>
                    <div class="form-group">
                        <button name="action" type="submit" class="btn btn-warning" value="enable">Enable</button>
                    </div>
                    {% endif %}
                </form>
            </div>
            <div class="form-group">
                <form method="post" class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Email</span>
                                <input class="form-control" placeholder="user@example.com" name="email" type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <button name="action" type="submit" class="btn btn-warning" value="email">Edit</button>
                        </div>
                    </div>
                </form>
                <form method="post" class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Mumble ID</span>
                                <input class="form-control" placeholder="123" name="mumble">
                            </div>
                        </div>
                        <div class="form-group">
                            <button name="action" type="submit" class="btn btn-warning" value="mumble">Edit</button>
                        </div>
                    </div>
                </form>
                <form method="post" class="form-inline">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">IM Username</span>
                                <input class="form-control" placeholder="Discord/Jabber/Slack" name="im">
                            </div>
                        </div>
                        <div class="form-group">
                            <button name="action" type="submit" class="btn btn-warning" value="im">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
            {% for error in error_list %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
            {% endfor %}
            <div>
                <form method="post">
                    <label> Add New API:
                        <a href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask={{access_mask}}">
                        Predefined Link
                        </a>
                        [Check No Expiry]
                    </label>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Key ID</span>
                            <input class="form-control" placeholder="Key ID" name="key_id">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">vCode</span>
                            <input class="form-control" placeholder="vCode" name="vcode">
                        </div>
                    </div>
                    <div class="form-group">
                        <button name="action" type="submit" class="btn btn-primary" value="add">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#apis">APIs</a></li>
            <li class="active"><a data-toggle="tab" href="#invoices">Invoices</a></li>
        </ul>
        <div class="tab-content">
            <div id="apis" class="tab-pane">
                <div class="col-md-12">
                    <h2>All APIs</h2>
                    <form method="post" class="form-inline">
                        <div class="form-group">
                            <button name="action" type="submit" class="btn btn-warning" value="validate">Validate All APIs</button>
                        </div>
                    </form>
                    <table class="table table-hover table-condensed datatables dt-responsive" width="100%">
                        <thead>
                        <tr>
                            <th>Char ID</th>
                            <th>Char Name</th>
                            <th>Key ID</th>
                            <th>vCode</th>
                            <th>Cached Until</th>
                            <th>Valid</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key in associated_keys %}
                        <tr class="{{'danger' if not key[-1]}}">
                            {% for info in key %}
                            <td>{{info}}</td>
                            {% endfor %}
                            <td>
                                <form method="post">
                                    <input class="form-control" name="key_id" type="hidden" value="{{key[2]}}">
                                    <input class="form-control" name="vcode" type="hidden" value="{{key[3]}}">
                                    <button name="action" type="submit" class="btn btn-danger" value="remove">Remove</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="invoices" class="tab-pane active">
                <div class="col-md-12">
                    <h2>Personal invoices in the last 30 days</h2>
                    <table class="table table-hover table-condensed datatables dt-responsive" width="100%">
                        <thead>
                            <tr>
                                <th>Creation Date</th>
                                <th>ID</th>
                                <th>Destination</th>
                                <th>Price</th>
                                <th>Marketeer</th>
                                <th>Status</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoice_table %}
                            <tr>
                                {% for info in invoice[1:] %}
                                <td class="{{invoice[0]}}">{{info}}</td>
                                {% endfor %}
                                <td class="{{invoice[0]}}">
                                    <form action="{{url_for('ordering.invoice', invoice_id=invoice[2])}}" method="get">
                                        <button type="submit" class="btn btn-success">Link</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
