{% extends "bootstrap/base.html" %}
{% block title %}TiT - EVE{% endblock title %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
{% endblock styles %}

{% block navbar %}
{% if session.UI_Roles: %}
{{nav.admin.render()}}
{% elif session.UI_Corporation: %}
{{nav.corporation.render()}}
{% elif session.UI_Alliance: %}
{{nav.alliance.render()}}
{% else: %}
{{nav.anon.render()}}
{% endif %}
{% endblock navbar %}

{% block content %}
<h1>NOTHING IS ON THIS PAGE</h1>
{% endblock content %}