{% extends "bootstrap/base.html" %}
{% block title %}TIT Dashboard{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{{bootstrap_find_resource('bootstrap.css', cdn='theme')}}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.0/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}">
{% endblock styles %}

{% block scripts %}
{{super()}}
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.0.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.0.0/js/responsive.bootstrap.min.js"></script>
{% block defaults %}
<script src="{{url_for('static', filename='datatables.js')}}"></script>
{% endblock defaults %}
{% endblock scripts %}

{% block navbar %}
{% if session.UI_Roles: %}
{{nav.admin.render(renderer='custom')}}
{% elif session.UI_Corporation: %}
{{nav.corporation.render(renderer='custom')}}
{% elif session.UI_Alliance: %}
{{nav.alliance.render(renderer='custom')}}
{% elif session.CharacterOwnerHash %}
{{nav.neut.render(renderer='custom')}}
{% else: %}
{{nav.anon.render(renderer='custom')}}
{% endif %}
{% endblock navbar %}

{% block content %}
<h1>NOTHING IS ON THIS PAGE</h1>
{% endblock content %}