{% extends "bootstrap/base.html" %}
{% block title %}TIT Dashboard{% endblock title %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='base.css')}}">
{% endblock styles %}

{% block scripts %}
{{super()}}
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
<script src="{{url_for('static', filename='datatables.js')}}"></script>
{% endblock scripts %}

{% block navbar %}
{% if session.UI_Roles: %}
{{nav.admin.render()}}
{% elif session.UI_Corporation: %}
{{nav.corporation.render()}}
{% elif session.UI_Alliance: %}
{{nav.alliance.render()}}
{% else: %}
{{nav.anon.render()}}
{% endif %}
{% endblock navbar %}

{% block content %}
<h1>NOTHING IS ON THIS PAGE</h1>
{% endblock content %}