{% extends "base.html" %}
{% block head %}
{{super()}}
{% endblock head %}
{% block defaults %}
<script src="{{url_for('static', filename='datatables-fit.js')}}"></script>
{% endblock defaults %}
{% block content %}
<div class="container">
    {% if not prices_usable %}
    <div class="row">
        <div class="alert alert-danger">
            Eve Central API is down. The prices below are not correct.
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <h3>{{fit_name}}</h3>
            <button type="button" class="btn btn-primary"
                    onclick="CCPEVE.showFitting('{{dna_string}}')">In-Game Fit
            </button>
            <address>
                <small>
                    {% for line in fit_string %}
                    {{line}}<br>
                    {% endfor %}
                </small>
            </address>
            {% if can_delete %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Edit</h4>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="notes">Notes:</label>
                            <input class="form-control" id="notes" name="notes" placeholder="Notes">
                        </div>
                        <div class="form-group">
                            <label for="source">Source Link:</label>
                            <input class="form-control" id="source" name="source" placeholder="Http Link">
                        </div>
                        {% if admin %}
                        <div class="checkbox">
                            <label>
                                {% if doctrine %}
                                <input name="doctrine" type="checkbox" value="True" checked>
                                {% else %}
                                <input name="doctrine" type="checkbox" value="True">
                                {% endif %}
                                Mark as doctrine fit?
                            </label>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-warning" name="action" value="edit">Edit Meta</button>
                    </form>
                    <form>
                        <button type="submit" class="btn btn-danger" name="action" value="delete">Delete Fit</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p><b>Doctrine:</b> {{doctrine}}</p>
                    <p><b>Notes:</b> {{notes}}</p>
                    <p><b>Source:</b> <a href="{{source}}">{% if source %}{{source}}{% endif %}</a></p>
                </div>
            </div>
            <table class="table table-hover table-condensed" id="datatables-fit">
                <thead>
                <tr>
                    {% for header in item_table[0] %}
                    <th>{{header}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for item in item_table[1:] %}
                <tr>
                    {% for info in item %}
                    <td>{{info}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form class="form-inline">
                <table class="table table-condensed table-bordered">
                    <tr>
                        <td>Qty:</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="multi-txt">Qty</span>
                                <input type="text" class="form-control" placeholder="Qty (Default: 1)" name="multiply"
                                       aria-describedby="multi-txt" value="{{multiply}}">
                            </div>
                            <button type="submit" class="btn btn-warning" name="action" value="qty">Change</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Total volume of items:</td>
                        <td>{{total_volume}}</td>
                    </tr>
                    <tr>
                        <td>Total price of items in {{market_hub_name}}:</td>
                        <td>{{total_fit_isk}}</td>
                    </tr>
                    <tr>
                        <td>Ship to:</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" name="end">
                                    {% for station in valid_stations %}
                                    {% if station[2] %}
                                    <option value="{{station[0]}}" selected>{{station[1]}}</option>
                                    {% else %}
                                    <option value="{{station[0]}}">{{station[1]}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-warning" name="action" value="station">Change</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Shipping Cost [@{{jf_rate}} Isk/M3]:</td>
                        <td>{{jf_total}}</td>
                    </tr>
                    <tr>
                        <td>Total Cost:</td>
                        <td>{{order_total}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            {% if prices_usable %}
                            <button type="submit" class="btn btn-success" name="action" value="purchase">Add to Cart</button>
                            {% else %}
                            <button class="btn btn-success" disabled>Add to Cart</button>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock content %}