{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="tit-container">
            <h1>Welcome to the Tritanium Industries and Technology Website</h1>
            <p class="lead">This site will soon be filled with awesome.</p>
            <p class="lead">But it still isn't safe to go alone. Take this.</p>
            <div class="jumbotron">
                <h2>Jump Freighter Service</h2>
                <p>Cost: 400 ISK/m3</p>
                <p>Route: 3KNA-N II to/from Jita IV - M 4</p>
                <p>Contract to: Domthar</p>
            </div>
        </div>
    </div>
{% endblock content %}