{% extends "base.html" %}
{% block navbar %}
{% endblock navbar %}
{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='custom/reset.css')}}">
<link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='custom/text.css')}}">
<link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='custom/960.css')}}">
<link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='custom/tit.css')}}">
<link rel="stylesheet" type="text/css" media="all" href="{{url_for('static', filename='custom/extra.css')}}">
{% endblock styles %}
{% block content %}
    <div class="container_12" style="height: 150px"></div>
    <div class="container_12">
        <div class="grid_2" style="width: 100px">&nbsp;</div>
        <div id="splash" class="auto-style2" style="width: 700px; height: 313px; background-image: url({{url_for('static', filename='custom/splash1.png')}});"></div>
        <div class="grid_2" style="width: 100px">&nbsp;</div>
        <div class="grid_4 center" style="width: 180px; text-align: center; height: 19px;"></div>
        <div class="grid_4 center" style="width: 150px; text-align: center;"><a href="https://zkillboard.com/corporation/98117593/" target="_blank">Killboard</a></div>
        <div class="grid_4 center" style="width: 150px; font-size: 20px;"><a href="https://forums.eveonline.com/default.aspx?g=posts&amp;t=405912">Recruitment</a></div>
        <div class="grid_4 center" style="width: 150px">
            <a href="{{url_for('buyback.home')}}">
                <span class="auto-style1">Dashboard</span>
            </a>
        </div>

        <div class="grid_4 center" style="width: 150px; text-align: center;">
            <a href="{{forum_url}}" target="_blank">Forums</a></div>
    </div>
{% endblock content %}