{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="tit-container">
            <h1>Welcome to the Tritanium Industries and Technology Website.</h1>
            <p class="lead">This site will soon be filled with awesome.</p>
            <p class="lead">Log in using the button above through the EVE SSO to continue.</p>
            <p class="lead">Tip: If you want to use a different account than the one you are logged in as when redirected to the SSO, hit the cancel button.</p>
            <div class="jumbotron">
                <h2>Why do we use SSO and is it safe?</h2>
                <p> First, read this:
                    <a href="http://community.eveonline.com/news/dev-blogs/eve-online-sso-and-what-you-need-to-know/">http://community.eveonline.com/news/dev-blogs/eve-online-sso-and-what-you-need-to-know/</a>
                </p>
                <p>It's a little old since it says something about a "SSO Limited Trial", but it is now open to all developers.</p>
                <p>TL;DR: <b>We NEVER see your username or password.</b></p>
                <p>You can also stop giving us your information whenever you want, just like your api keys.</p>
                <p>Similar link used for SSO: <a href="https://community.eveonline.com/support/third-party-applications/">https://community.eveonline.com/support/third-party-applications/</a></p>
                <p>What does this mean for our corp?</p>
                <ul>
                    <li>We don't have to save your username or password. No worries about getting your creditials stolen/hacked from our databases.</li>
                    <li>We can confirm your identity. If you ever change your corp/alliance, you will automatically have no access to our services.</li>
                    <li>It's safer. We don't have to ever worry about encrypting your connection. We won't have to pass around log-in credentials.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}