{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_jf.ico') }}">
{% endblock head %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="jf-form">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Start</span>
                                <select class="form-control" name="start">
                                    {% for start in start_list %}
                                    {% if start[1] %}
                                    <option value="{{start[0]}}" selected>{{start[0]}}</option>
                                    {% else %}
                                    <option value="{{start[0]}}">{{start[0]}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">End</span>
                                <select class="form-control" name="end">
                                    {% for end in end_list %}
                                    {% if end[1] %}
                                    <option value="{{end[0]}}" selected>{{end[0]}}</option>
                                    {% else %}
                                    <option value="{{end[0]}}">{{end[0]}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Total M3" name="volume" value="{{volume}}" step="0.01" min="0" max="300000">
                                <span class="input-group-addon">m3</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Collateral" name="collateral" value="{{collateral}}" step="0.01" min="0" >
                                <span class="input-group-addon">Isk</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Calculate</button>
                        </div>
                    </form>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Volume Cost: {{volume_cost}} Isk [@{{m3}} Isk/M3]</li>
                    <li class="list-group-item">Misc Cost: {{extra}} Isk</li>
                    <li class="list-group-item">Collateral Cost: {{collateral_cost}} Isk</li>
                    <li class="list-group-item">Total Cost: {{price}} Isk</li>
                </ul>
                {% for warning in warning_list %}
                <div class="alert alert-warning" role="alert">Warning!: {{warning}}</div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Legend</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">White: Outstanding (Valid Contract)</li>
                            <li class="list-group-item list-group-item-danger">Red: Failed/Canceled/Rejected/Deleted</li>
                            <li class="list-group-item list-group-item-warning">Yellow: In Progress</li>
                            <li class="list-group-item list-group-item-success">Green: Completed</li>
                            <li class="list-group-item disabled">Grey: No valid route found</li>
                            <li class="list-group-item list-group-item-info">Blue: Contract Invalid (See Rules)</li>
                        </ul>
                    </div>
                </div>
                {% if admin %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Admins</h3>
                    </div>
                    <a class="btn btn-danger" href="{{url_for('jf.admin')}}">Edit Routes</a>
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Rules</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Contract to: Designated Drivers</li>
                            <li>!!NO CANS!!</li>
                            <li>Collateral: Add 10% of Collateral to reward (Ex. 100m collateral = +10m to reward)</li>
                            <li>Keep contracts below 1 Billion Isk</li>
                            <li>Contracts must be less than 300k M3</li>
                            <li>Minimum reward must be 1M Isk</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Next API Update</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>{{next_update}} UTC</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Personal Contracts</h2>
                <table class="table table-hover table-condensed">
                    <tr>
                        {% for header in personal_contract_list[0] %}
                        <th>{{header}}</th>
                        {% endfor %}
                    </tr>
                {% for contract in personal_contract_list[1:] %}
                    <tr>
                        {% for info in personal_contract_list[1:] %}
                        <td class="{{contract[0]}}">{{info}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>All History</h2>
                <table class="table table-hover table-condensed">
                    <tr>
                        {% for header in contract_list[0] %}
                        <th>{{header}}</th>
                        {% endfor %}
                    </tr>
                {% for contract in contract_list[1:] %}
                    <tr>
                        {% for info in contract[1:] %}
                        <td class="{{contract[0]}}">{{info}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}