{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_jf.ico') }}">
{% endblock head %}
{% block content %}
<div class="container">
    {% if not prices_usable %}
    <div class="row">
        <div class="alert alert-danger">
            Eve Central API is down. The prices below are not correct.
        </div>
    </div>
    {% endif %}
    <div class="row">
        <h2>Confirm Purchase</h2>
        <h3>Price: {{order_total}}</h3>
        <div class="col-md-12">
            <div class="row">
                <table class="table table-hover table-condensed datatables">
                    <thead>
                    <tr>
                        <th class="col-xs-4">{{invoice_info[0][0]}}</th>
                        <th class="col-xs-1">{{invoice_info[0][1]}}</th>
                        {% for header in invoice_info[0][2:] %}
                        <th class="col-xs-2">{{header}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in invoice_info[1:] %}
                    <tr>
                        {% for info in item %}
                        <td>{{info}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-condensed table-bordered">
                    <tr>
                        <td>Total volume of items:</td>
                        <td>{{total_volume}}</td>
                    </tr>
                    <tr>
                        <td>Total price of items in {{market_hub_name}}:</td>
                        <td>{{sell_price}}</td>
                    </tr>
                    <tr>
                        <td>Processing Cost [@{{order_tax}}%]:</td>
                        <td>{{order_tax_total}}</td>
                    </tr>
                    <tr>
                        <td>Ship to:</td>
                        <td>{{jf_end}}</td>
                    </tr>
                    <tr>
                        <td>Shipping Cost [@{{jf_rate}} Isk/M3]:</td>
                        <td>{{jf_total}}</td>
                    </tr>
                    <tr>
                        <td>Total Cost:</td>
                        <td>{{order_total}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <form>
                                {% if prices_usable %}
                                <button type="submit" class="btn btn-primary" name="action" value="order">Confirm Order</button>
                                {% else %}
                                <button type="submit" class="btn btn-primary" name="action" value="order" disabled>Confirm Order</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}