{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon_jf.ico') }}">
{% endblock head %}
{% block content %}
<div class="container">
    {% if not prices_usable %}
    <div class="row">
        <div class="alert alert-danger">
            Eve Central API is down. The prices below are not correct.
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            {% if timestamp %}
            <h2>Invoice</h2>
            <h3>Date: {{timestamp}} UTC</h3>
            <h3>Character: {{character}}</h3>
            {% else %}
            <h2>Confirm Purchase</h2>
            {% endif %}
            <h3>Price: {{order_total}}</h3>
        </div>
        <div class="col-lg-6">
            <ul class="list-group">
                <li class="list-group-item">Status: {{status}}</li>
                <li class="list-group-item">Marketeer: {{marketeer}}</li>
                <li class="list-group-item">Reason: {{reason}}</li>
                <li class="list-group-item">External shipper: {{external}}</li>
                {% if timestamp %}
                <li class="list-group-item">
                    <form method="post">
                        {% if editor %}
                        {% if can_edit %}
                        <div class="input-group">
                            <span class="input-group-addon">Reason</span>
                            <input class="form-control" placeholder="Ex. Cannot be shipped." name="reason">
                        </div>
                        {% else %}
                        <div class="input-group">
                            <span class="input-group-addon">Reason</span>
                            <input class="form-control" placeholder="Ex. Cannot be shipped." name="reason" disabled>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% if can_delete %}
                        <button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>
                        {% else %}
                        <button type="submit" class="btn btn-danger" name="action" value="delete" disabled>Delete</button>
                        {% endif %}
                        {% if editor %}
                        {% if can_edit %}
                        <button type="submit" class="btn btn-danger" name="action" value="reject">Reject</button>
                        <button type="submit" class="btn btn-primary" name="action" value="{{button.lower()}}">{{button}}</button>
                        <button type="submit" class="btn btn-warning" name="action" value="shipping">Change Shipper</button>
                        <button type="submit" class="btn btn-success" name="action" value="complete">Complete</button>
                        <button type="submit" class="btn btn-danger" name="action" value="fail">Fail</button>
                        {% else %}
                        <button type="submit" class="btn btn-danger" name="action" value="reject" disabled>Reject</button>
                        <button type="submit" class="btn btn-primary" name="action" value="{{button.lower()}}" disabled>{{button}}</button>
                        <button type="submit" class="btn btn-warning" name="action" value="shipping" disabled>Change Shipper</button>
                        <button type="submit" class="btn btn-success" name="action" value="complete" disabled>Complete</button>
                        <button type="submit" class="btn btn-danger" name="action" value="fail" disabled>Fail</button>
                        {% endif %}
                        {% endif %}
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <table class="table table-hover table-condensed datatables">
                    <thead>
                    <tr>
                        <th class="col-xs-4">{{invoice_info[0][0]}}</th>
                        <th class="col-xs-1">{{invoice_info[0][1]}}</th>
                        {% for header in invoice_info[0][2:] %}
                        <th class="col-xs-2">{{header}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in invoice_info[1:] %}
                    <tr>
                        {% for info in item %}
                        <td>{{info}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-condensed table-bordered">
                    <tr>
                        <td>Contract To:</td>
                        <td>{{contract_to}}</td>
                    </tr>
                    <tr>
                        <td>Notes:</td>
                        <td>{{notes}}</td>
                    </tr>
                    <tr>
                        <td>Total volume of items:</td>
                        <td>{{total_volume}}</td>
                    </tr>
                    <tr>
                        <td>Total price of items in {{market_hub_name}}:</td>
                        <td>{{sell_price}}</td>
                    </tr>
                    <tr>
                        <td>Processing Cost [@{{order_tax}}%]:</td>
                        <td>{{order_tax_total}}</td>
                    </tr>
                    <tr>
                        <td>Ship to:</td>
                        <td>{{jf_end}}</td>
                    </tr>
                    <tr>
                        <td>Shipping Cost [@{{jf_rate}} Isk/M3]:</td>
                        <td>{{jf_total}}</td>
                    </tr>
                    <tr>
                        <td>Total Cost: (Rounded)</td>
                        <td>{{order_total}}</td>
                    </tr>
                    {% if not timestamp %}
                    <tr>
                        <td></td>
                        <td>
                            <form>
                                {% if prices_usable %}
                                <button type="submit" class="btn btn-primary" name="action" value="order">Confirm Order</button>
                                {% else %}
                                <button type="submit" class="btn btn-primary" name="action" value="order" disabled>Confirm Order</button>
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}