{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <h2>Recruitment Settings</h2>
        <div class="col-lg-6">
            <h3>Front page information</h3>
            <form method="post">
                <textarea class="form-control" rows="11" name="info">{{info}}</textarea>
                <button name="action" type="submit" class="btn btn-primary" value="info_edit">Save</button>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <h3>Current Recruitment Status: {{status}}</h3>
                <form method="post">
                    <button type="submit" class="btn btn-success" name="action" value="open">Open</button>
                    <button type="submit" class="btn btn-warning" name="action" value="restricted">Restrict</button>
                    <button type="submit" class="btn btn-danger" name="action" value="closed">Close</button>
                </form>
            </div>
            <div class="row">
                <h3>New Question</h3>
                <form method="post">
                    <div class="form-group">
                        <label for="text">Question:</label>
                        <input class="form-control" id="text" name="text" placeholder="Ex. Explain why you are a spy.">
                        <div class="checkbox">
                            <label>
                                <input name="long" type="checkbox" value="True">
                                Long answer?
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="bool" type="checkbox" value="True">
                                Boolean (Only True or False)?
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" name="action" value="add">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Current Questions</h3>
            <table class="table table-hover table-condensed datatables dt-responsive" width="100%">
                <thead>
                <tr>
                    {% for header in question_table[0] %}
                    <th>{{header}}</th>
                    {% endfor %}
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in question_table[1:] %}
                    <tr>
                        {% for info in item[:-1] %}
                        <td>{{info}}</td>
                        {% endfor %}
                        <td>
                            <form method="post">
                                <input type="hidden" name="id" value="{{item[-1]}}">
                                <button type="submit" class="btn btn-danger" name="action" value="remove">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}