{% extends "base.html" %}
{% block content %}
<div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "error" %}
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">{{message}}</div>
    </div>
    {% elif category == "success" %}
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">{{message}}</div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{image}}" alt="Character">
        </div>
        <div class="col-md-8">
            <h3><b>Character: </b>{{character_name}}</h3>
            <h3><b>SSO Corporation: </b>{{sso_corporation}}</h3>
            <h3><b>SSO Alliance: </b>{{sso_alliance}}</h3>
            <h3><b>Last Site Log On: </b>{{site_log_in}}</h3>
            <h3><b>Site ID: </b>{{site_id}}</h3>
            <h3><b>Vacation Info: </b>{{vacation_text}}</h3>
            <h3><b>Estimated Return Date: </b>{{vacation_date}}</h3>
            <form method="post">
                <button name="action" type="submit" class="btn btn-primary" value="refresh">Refresh SSO Info</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for error in error_list %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
            {% endfor %}
            <div>
                <form method="post">
                    <label> Add New API:
                        <a href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask={{access_mask}}" target="_blank">
                        Predefined Link
                        </a>
                        [Check No Expiry]
                    </label>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Key ID</span>
                            <input class="form-control" placeholder="Key ID" name="key_id">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">vCode</span>
                            <input class="form-control" placeholder="vCode" name="vcode">
                        </div>
                    </div>
                    <div class="form-group">
                        <button name="action" type="submit" class="btn btn-primary" value="add">Add</button>
                    </div>
                </form>
            </div>
            <h2>All APIs</h2>
            <table class="table table-hover table-condensed datatables dt-responsive" width="100%">
                <thead>
                <tr>
                    <th>Char Name</th>
                    <th>Char ID</th>
                    <th>Key ID</th>
                    <th>vCode</th>
                    <th>Cached Until</th>
                    <th>Valid</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for key in api_table %}
                <tr class="{{'danger' if not key[-1]}}">
                    {% for info in key %}
                    <td>{{info}}</td>
                    {% endfor %}
                    <td>
                        <form method="post">
                            <input class="form-control" name="key_id" type="hidden" value="{{key[2]}}">
                            <input class="form-control" name="vcode" type="hidden" value="{{key[3]}}">
                            <button name="action" type="submit" class="btn btn-danger" value="remove">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-12">
            <h2>Old APIs</h2>
            <table class="table table-hover table-condensed datatables dt-responsive" width="100%">
                <thead>
                <tr>
                    <th>Key ID</th>
                    <th>vCode</th>
                    <th>Deletion Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for key in old_api_table %}
                <tr class="{{'danger' if not key[-1]}}">
                    {% for info in key %}
                    <td>{{info}}</td>
                    {% endfor %}
                    <td>
                        <form method="post">
                            <input class="form-control" name="key_id" type="hidden" value="{{key[0]}}">
                            <input class="form-control" name="vcode" type="hidden" value="{{key[1]}}">
                            <button name="action" type="submit" class="btn btn-danger" value="remove_old">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Last Known Locations (Corp Members Only)</h2>
            <table class="table table-hover table-condensed datatables dt-responsive" width="100%">
                <thead>
                <tr>
                    <th>Character Name</th>
                    <th>Location</th>
                    <th>Ship</th>
                    <th>Last Log On</th>
                    <th>Last Log Off</th>
                </tr>
                </thead>
                <tbody>
                {% for location in location_table %}
                <tr>
                    {% for info in location %}
                    <td>{{info}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Affiliations</h2>
            <table class="table table-hover table-condensed datatables dt-responsive" width="100%">
                <thead>
                <tr>
                    <th>Character Name</th>
                    <th>Corporation</th>
                    <th>Alliance</th>
                </tr>
                </thead>
                <tbody>
                {% for api in affiliation_table %}
                <tr>
                    {% for info in api %}
                    <td>{{info}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>DANGER ZONE!</h2>
            <h3>Reset Vacation</h3>
            <form class="form-inline" method="post">
                <button type="submit" class="btn btn-danger" name="action" value="vacation">Reset Vacation</button>
            </form>
            <h3>Delete account (Paste their Site ID in the box below to confirm)</h3>
            <form class="form-inline" method="post">
                <div class="input-group">
                    <span class="input-group-addon">Site ID</span>
                    <input class="form-control" placeholder="Confirm delete." name="confirm">
                </div>
                <button type="submit" class="btn btn-danger" name="action" value="delete">Delete Account</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}